.carousel-page
{
	width:100%;
	height:400px;
	background-color:#5f666d;
	color:white;
}

.logosound {
	width: 200px;
	height: 100px;
}

#boutonbilleterie {
	width: 	50%;
	margin-left: 20%;
}

#mapid { 
	height: 500px;
	margin-left: 15%;
	margin-right: 15%;
}